@{
    ViewBag.Title = "Carregar arquivo";
}
@using Microsoft.Web.Helpers;
@{
    var fileName = "";
    if (IsPost)
    {
        var fileSavePath = "";
        var uploadedFile = Request.Files[0];
        if (uploadedFile.FileName != "")
        {
            fileName = Path.GetFileName(uploadedFile.FileName);
            fileSavePath = Server.MapPath("~/App_Data/UploadedFiles/" +
              fileName);
            uploadedFile.SaveAs(fileSavePath);
            Response.Redirect(Url.Action("Index", "Pessoa"));
        }
    }
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
            </hgroup>
            <p>
                Informe um aquivo .txt para salvar os dados.
                O aquivo deve estar com a seguinte formatação em uma linha para cada Pessoa cadastrada:<br/>
                -Nome: ocupar 20 caractéres;<br/>
                -Email: ocupar 20 caractéres;<br/>
                -Data de Nascimento: ocupar 8 caractéres no formato aaaMMdd (a-ano; M-Mês; d-dia);<br/>
                -Celular: ocupar 15 caractéres;<br/>
                -Telefone Residencial: ocupar 15 caractéres.<br/>
            </p>
        </div>
    </section>
}

    <h1>Informe o arquivo:</h1>
    @FileUpload.GetHtml(
        initialNumberOfFiles:1,
        allowMoreFilesToBeAdded:false,
        includeFormTag:true,
        uploadText:"Salvar")
    @if (IsPost) {
        <h3>Informe o arquivo que deseja atualizar</h3><br/>
    }
                <h3>@Html.Raw(ViewBag.Message)</h3>



